
@media screen and (max-width: 991px) {
    .mobile-view-dropdcard {
        background-color: #FFE5E4;
        text-align: center;
    }

    .about-mobile {
        border-bottom: 1px solid black;
    }

    .features-mobile {
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 390px) {
    .mobile-download-app {
        margin-left: -25px;
    }
}
@media screen and (max-width: 360px) {
    .nivasi-icon {
        width: 120px !important;
    }

    .download-app {
        width: 120px !important;
    }
}

.get-started {
    text-align: center;
    background-image: url('images/get-it-on-links-bg-img.png');
    background-position: bottom;
    background-size: contain;
    height: 465px;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 750px) and (max-width: 991px) {
    .get-started {
        height: 504px;
    }
}

.get-started-heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    padding-bottom: 20px;
}

.get-started-subheading {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 20px;
}

@media screen and (max-width: 414px) {
    .get-started-heading {
        font-size: 56px;
        line-height: 56px;
    }

    .get-started-subheading {
        font-size: 18px;
        line-height: 25px;
    }

}

/* .nivasi-video-section {
    position: relative;
    text-align: center;
    color: white;
}

.nivasi-video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nivasi-video-heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    padding-bottom: 20px;
}

.nivasi-video-subheading {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 20px;
}

@media screen and (max-width: 820px) {
    .nivasi-video-bg-img {
        height: 500px;
    }
}

@media screen and (max-width: 414px) {
    .nivasi-video-heading {
        font-size: 40px;
        line-height: 48px;
    }

    .nivasi-video-subheading {
        font-size: 18px;
        line-height: 25px;
    }

    .nivasi-video-bg-img {
        height: 450px;
    }

    .nivasi-video {
        width: 170px;
    }
} */

.why-nivasi-heading {
    text-align: center;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
}

.why-nivasi-subheading {
    font-family: "DM Sans";
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #10123C;
}

.why-nivasi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    gap: 24px;
    grid-auto-flow: row;
    grid-template-areas:
        "card1 card2 card2"
        "card1 card3 card6"
        "card4 card5 card6";
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.cards-heading {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.cards-subheading {
    font-size: 18px;
    line-height: 28px;
}

.card1 {
    background-color: #E0D4F9;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.card1-img {
    margin-left: -31px;
    margin-top: -40px;
}

.card2 {
    background-color: #FFC9D4;
    border-radius: 32px;
    display: flex;
}

.card2-img {
    margin-right: -20px;
}

.card3 {
    background-color: #E1F48C;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card3-img {
    width: 300px;
    margin-bottom: -10px;
}

.card4 {
    background-color: #D2F4FF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card5 {
    background-color: #FFD3C4;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card5-img {
    margin-top: 26px
}

.card6 {
    background-color: #FAE387;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.card6-img {
    margin-left: -25px;
}

@media only screen and (min-width: 768px) and (max-width: 1230px) {
    .why-nivasi {
        grid-template-columns: 345px 345px 345px;
        grid-template-rows: auto;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
    }

    .card2 {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 767px) {
    .why-nivasi {
        grid-template-columns: 384px 384px 384px;
        grid-template-rows: auto;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }

    .card2 {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 414px) {
    .why-nivasi {
        grid-template-columns: 382px 382px 382px;
        /* grid-template-rows: auto; */
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }

    .card2 {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 390px) {
    .why-nivasi {
        grid-template-columns: 358px 358px 358px;
        /* grid-template-rows: auto; */
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }

    .card2 {
        flex-direction: column !important;
    }
}
@media only screen and (max-width: 360px) {
    .why-nivasi {
        grid-template-columns: 334px 334px 334px;
        /* grid-template-rows: auto; */
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }

    .card2 {
        flex-direction: column !important;
    }
}


.app-links-heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
}
.app-links-subheading {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

}
.app-links {
    display: flex;
    justify-content: center;
}
.demo-form {
    border-radius: 1px solid #FAE387;
    background-color: #FAE387;
    max-width: 950px;
    border-radius: 32px; 
}
.demo-form-heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #003350;
}
.demo-form-subheading {
    color: #003350;
    font-weight: 400;
    font-family: "DM Sans";
    font-size: 20px;
    line-height: 28px;
}
.success-form {
    border-radius: 1px solid #FAE387;
    background-color: #FAE387;
    max-width: 950px;
    border-radius: 32px;
}
.success-form-heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #003350;
}
.success-form-subheading {
    color: #003350;
    font-weight: 400;
    font-family:"DM Sans";
    font-size: 20px;
    line-height: 28px;
}

.error-container {
    position: relative;
}

.error-message {
    position: absolute;
    top: 85%;
    left: 0;
    color: red;
    font-size: 0.8em;
    text-align: start;
}

.footer {
    background-color: #333737;
    width: 100%;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.community-thrives {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 60px;
    line-height: 64px;
    color: #EE693E;
    padding-bottom: 40px;
}
.rights-reserved {
    font-family: "DM Sans";
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: white;
}
.support-section {
    background-color:#565F5F;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
}
.support-text {
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 35.64px;
    color: white;
}
.support-contents {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
}
.support-content {
    color: white;
    font-weight: 700;
}

.social-media {
    font-family: "DM Sans";
    font-size: 31.13px;
    font-weight: 700;
    line-height: 35.64px;
    color: #EE693E;
    text-align: center;
    padding: 20px;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

@media screen and (max-width: 767px) {
    .social-media-icons {
        display: flex;
        flex-direction: row;
        gap: 110px;
        justify-content: center;
    }
}

.form-group {
    position: relative;
    padding: 15px 0;
    /* width: 300px; */
    max-width: 100%;
}

.form-group input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #686868;
    color: black;
    font-size: 20px;
    font-family: "DM Sans";
    font-weight: 400;
    padding: 8px 0;
    display: block;
    width: 100%;
}

.form-group label {
    color: #686868;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: translateY(30px);
    transition: all 0.2s ease-in-out;
    left: 0;
    font-weight: 400;
    font-family: "DM Sans";
}

@media screen and (max-width: 414px) {
    .form-group label {
        font-size: 18px;
    }
}

/* .form-group input:valid,
.form-group input:focus {
	border-bottom-color: black;
	outline: none;
    background-color: white;
    
} */
.form-group input:hover {
    border-bottom-color: black;
    outline: none;
    background-color: white;
    /* Set white background when focused */
    border-bottom: 2px solid #082D2A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-group input:focus {
    border-bottom-color: black;
    outline: none;
    background-color: white;
    /* Set white background when focused */
    border-bottom: 2px solid #082D2A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-group input:valid:not(:focus) {
    background-color: #FAE387;
    /* padding: unset;  */
}

.form-group:valid:not(:focus) {
    padding: 25px 0;
}

.form-group label:valid:not(:focus+label) {
    top: 11px !important;
    left: 6px !important;
}

/* Adjusting label position */
.form-group input:valid+label,
.form-group input:focus+label {
    color: black;
    font-size: 12px;
    font-family: "DM Sans";
    transform: translateY(0);
    top: 11px;
    left: 1px;
}

input[type="button"]:hover {
    background-color: #fff;
    color: black;
}